.DS_Store
__pycache__/


# seed 
dataset/seed/seed_data
dataset/seed/update_glotlid/google_fonts_repo
dataset/seed/update_glotlid/googlefonts_output

# fonts
dataset/fonts/fonts_data/*
!dataset/fonts/fonts_data/fonts_data.txt
dataset/fonts/fonts_main
dataset/fonts/google_fonts_main.zip

# ocr generator
dataset/ocr_generator/output
dataset/ocr_generator/parquet_output

# evaluation results
evaluation/metrics/res